<p class="title8">Mydea</p>

<h3>みんなのアイデア</h3>

<%= link_to "新規投稿へ", new_note_path %>

<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>


<div class="note-container">
  <% @notes.each do |t| %>
    <div class="note">
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.caption %>
    </div>
  <% end %>
</div>

<style>
    .note-container{
      background-color: red;
    }
</style>

